<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
                
              <div class="col-md-6 col-lg-6 d-none d-md-block">
                <img src="../../../assets/imagenes/login-split.jpg"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-5 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                    <div class="text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                          style="width: 185px;" alt="logo">
                        <h4 class="mt-1 mb-5 pb-1">Iniciar sesion</h4>
                      </div>
                    <form
                    class="mt-12"
                    [formGroup]="signInForm"
                    #signInNgForm="ngForm">

                    <!-- Email field -->
                    <mat-form-field class="example-full-width" style="width:300px !important" appearance="outline">
                        <mat-label>Correo electrónico</mat-label>
                        <input
                            id="email"
                            matInput
                            [formControlName]="'email'">
                
                        <mat-error *ngIf="signInForm.get('email')">
                            Por favor, introduce una dirección de correo electrónico válida
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <br>
                    <!-- Password field -->
                    <mat-form-field style="width:300px !important" appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input
                            id="password"
                            matInput
                            type="password"
                            [formControlName]="'password'"
                            #passwordField>
                        <button
                            mat-icon-button
                            type="button"
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            matSuffix>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'password'"
                              ><span class="material-symbols-outlined">
                                    visibility
                                    </span></mat-icon>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'text'"
                                ><span class="material-symbols-outlined">
                                    visibility_off
                                    </span></mat-icon>
                        </button>
                        <mat-error>   
                            Se requiere contraseña
                        </mat-error>
                    </mat-form-field>

                    <!-- Actions -->
                    <div class="inline-flex items-end justify-between w-full mt-1.5">
                        <mat-checkbox
                            [color]="'primary'"
                            [formControlName]="'rememberMe'">
                            Recuerdame
                        </mat-checkbox>
                        <a
                            class="text-md font-medium text-primary-500 hover:underline"
                            [routerLink]="['/forgot-password']">Olvide mi contraseña
                        </a>
                    </div>

                    <br>
                    <!-- Submit button -->
                    <button
                        style="width:300px !important"
                        class="fuse-mat-button-large w-full mt-8"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="signInForm.disabled"
                        (click)="signIn()">
                        <span *ngIf="!signInForm.disabled">
                            Ingresar
                        </span>
                        <mat-progress-spinner
                            *ngIf="signInForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>

                    <!-- Separator -->
                    <div class="flex items-center mt-8">
                        <div class="flex-auto mt-px border-t"></div>
                        <div class="mx-2 text-secondary">Or continue with</div>
                        <div class="flex-auto mt-px border-t"></div>
                    </div>

                    <!-- Single sign-on buttons -->
                    <div class="flex items-center mt-8 space-x-4">
                        <!-- <button
                            class="flex-auto"
                            type="button"
                            mat-stroked-button>
                            <mat-icon
                                class="icon-size-5"
                                ></mat-icon>
                        </button>
                        <button
                            class="flex-auto"
                            type="button"
                            mat-stroked-button>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'feather:twitter'"></mat-icon>
                        </button> -->

                    </div>
                </form>
                  <!-- <form>
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Logo</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
  
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example17" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example17">Email address</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example27" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example27">Password</label>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="button">Login</button>
                    </div>
  
                    <a class="small text-muted" href="#!">Forgot password?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="#!"
                        style="color: #393f81;">Register here</a></p>
                    <a href="#!" class="small text-muted">Terms of use.</a>
                    <a href="#!" class="small text-muted">Privacy policy</a>
                  </form> -->
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>