<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>LISTA DE USUARIOS</span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" (click)="cerrarSesion()"
      aria-label="Example icon-button with share icon">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-toolbar>

  <div style="width: 98%;">
    <router-outlet></router-outlet>
  </div>